{% extends "store/main.html" %}
{% load static %}

{% block content %}

    <div class="company-container">
        <section id="about-us" class="company-section">
            <h2>About Us</h2>
            <p class="company-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>
    
        <section id="our-services" class="company-section">
            <h2>Our Services</h2>
            <ul class="company-list">
                <li class="company-list-item">Lorem ipsum dolor sit amet</li>
                <li class="company-list-item">Consectetur adipiscing elit</li>
                <li class="company-list-item">Sed do eiusmod tempor</li>
                <li class="company-list-item">Incididunt ut labore et dolore</li>
            </ul>
        </section>
    
        <section id="privacy-policy" class="company-section">
            <h2>Privacy Policy</h2>
            <p class="company-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>
    
        <section id="affiliate-brands" class="company-section">
            <h2>Affiliate Brands</h2>
            <div class="brands">
                <div class="brand-card">
                    <a href="http://brand1.com"><img src="brand1.jpg" alt="Brand 1"></a>
                </div>
                <div class="brand-card">
                    <a href="http://brand2.com"><img src="brand2.jpg" alt="Brand 2"></a>
                </div>
                <div class="brand-card">
                    <a href="http://brand3.com"><img src="brand3.jpg" alt="Brand 3"></a>
                </div>
                <div class="brand-card">
                    <a href="http://brand4.com"><img src="brand4.jpg" alt="Brand 4"></a>
                </div>
            </div>
        </section>
    </div>>

{% endblock content %}