{% extends "store/main.html" %}
{% load static %}

{% block content %}
        <!-- HERO Section -->
        <section class="hero">
            <img src="{% static 'assets/Hero2.jpg' %}" alt="Hero Image" class="hero-image">
            <div class="hero-content">
                <h1>ONkretiv Luxury Store</h1>
                <button class="cta-button">EXPLORE</button>
            </div>
        </section>
    
        <!-- Cards Section -->
        <section class="cards-section">
            {% for category in categories %}          
            <div class="card">
                <a href="{% url 'products_by_category' 'regular' category.name %}">
                    <img src="{% static 'assets/Demo.jpg' %}" alt="{{ category.name }}">
                </a>
                <div class="card-content">
                    <h3>{{ category.name }}</h3>
                    <p>Item Code: #{{ category.id }}</p>
                    <div class="item-rating">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span> 
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

        <div class="feature">Explore a Selection of Exclusive Items</div>

        <!-- Special Cards Section -->
        <section class="cards1-section">
            {% for special_category in special_categories %}
            <div class="card">
                <a href="{% url 'products_by_category' 'special' special_category.name %}">
                    <img src="{% static 'assets/Demo.jpg' %}" alt="{{ special_category.name }}">
                </a>
                <div class="card-content">
                    <h3>{{ special_category.name }}</h3>
                    <p>Item Code: #{{ special_category.id }}</p>
                    <div class="item-rating">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span> 
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
{% endblock content %}
